body {
    background-color: rgba(253, 232, 255, 0.8); 
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 20px; 
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: rgba(255, 105, 180, 0.85); 
    font-family: 'Courier New', monospace;
    
    margin-top: -230px; /* making title go up at the top */
    display: block;
}

.glowing-title {
    font-family: 'Courier New', monospace;
    color: rgba(255, 105, 180, 0.85); 
    text-shadow:
        0 0 5px rgba(255, 105, 180, 0.8),
        0 0 10px rgba(255, 105, 180, 0.7),
        0 0 20px rgba(255, 105, 180, 0.6);
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.modules-box,
.results-box {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 180px;
    height: 250px;
    background-color: #ffbef9e3;
    border: 20px solid #b0f7daa9;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; 
}

.modules-box {
    left: 0;
}

.results-box {
    right: 0;
}

.modules-box h2,
.results-box h2 {
    font-family: 'Courier New', monospace;
    font-size: 18px;
    color: #e652e6;
    text-align: center;
    margin-bottom: 15px;
}

.module-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.module-list li {
    margin-bottom: 15px; 
}

.module-list a {
    text-decoration: none;
    color: #cb2cbe; 
    font-weight: bold; 
    transition: color 0.3s;
}

.module-list a:hover {
    color: #f49097; 
}

.results-table th, .results-table td {
    border: 1px solid #ba28b5;
    padding: 8px;
    text-align: left;
    font-size: 12px;
}

.date-column {
    width: 20%;
}

.time-column {
    width: 20%;
}

.module-column {
    width: 30%;
}

.score-column {
    width: 30%;
}
  
.home-button {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    color: #00ad9e;
    font-weight: bold;
    cursor: pointer;
    border: 4px solid #00ad9e;
}

.welcome-message {
    font-size: 18px;
    color: rgba(42, 167, 160, 0.7); 
    
}

.flashcard {
    background-color: rgba(255, 255, 255, 0.9); 
    border: 2px solid rgba(255, 105, 180, 0.7); 
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px 15px;
    width: 90%; 
    max-width: 500px; 
    height: 300px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
}

.question {
    font-size: 30px;
    color: rgba(42, 167, 160, 0.8); 
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%; 
    border-bottom: 1px solid rgba(42, 167, 160, 0.3); 
}

.answer-input {
    width: 80%; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(42, 167, 160, 0.5); 
    border-radius: 10px;
    text-align: center; 
}

.result-message {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.result-message.correct {
    color: lightgreen;
}

.result-message.incorrect {
    color: rgba(238, 86, 86, 0.694);
}

.button-group {
    display: flex;
    justify-content: center; 
    gap: 10px;
    width: 100%; 
}

.hint-button,
.submit-button,
.next-button {
    padding: 10px 20px;
    background-color: rgba(255, 105, 180, 0.85); 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.hint-button:hover,
.submit-button:hover,
.next-button:hover {
    background-color: rgba(255, 105, 180, 1); 
}