#password {
    padding: 2px 100px 2px 2px;
}

#new-password, #confirm-new-password {
    border-style: solid;
    border-width: 1px;
    padding: 2px 2px 2px 2px;
}

div {
    font-size: 18px;
}

#user-password-section {
    max-width: 400px;
    overflow: hidden;
}