#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;

}

body {
    background-color: #ffdce3;
    line-height: 1.5;
    margin-left: 30px;
    padding-top: 20px; 
}

/* .home-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
} */



#welcome-note {
    font-style: italic;
    padding: 50px 50px 0px 0px;
}