body {
    background-color: rgba(253, 232, 255, 0.8);
    font-family: 'Courier New', Courier, monospace;
}

.units-header {
    font-size: 18px;
    color: #ffffff;
    background-color: #ff547c;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: 60px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: rgba(255, 105, 180, 0.85);
}

.description {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #00ad9e;
}
.exercise { 
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.exercise-question {
    font-size: 16px;
    font-weight: bold;
    color: #00ad9e;
    margin-top: 10px;
}

.submit-button {
    background-color: #00ad9e;
}